ListViewParametersArray.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListViewParametersArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ListViewParameters2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ListViewColumns">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ColumnDescriptionBase">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="PropertyName" type="xs:string" use="required" />
                            <xs:attribute name="Header" type="xs:string" use="required" />
                            <xs:attribute name="Headershort" type="xs:string" use="required" />
                            <xs:attribute name="Width" type="xs:string" use="required" />
                            <xs:attribute name="MinWidth" type="xs:decimal" use="required" />
                            <xs:attribute name="WidthAsString" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ListViewHeaderCreated" type="xs:boolean" use="required" />
                  <xs:attribute name="SortOrder" type="xs:string" use="required" />
                  <xs:attribute name="SortPropertyName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ListView" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>